<%= graph font_size: 20 %>

<%= primitive Scenic.Primitive.RoundedRectangle,
    {@width, @height, 5}, 
    translate: {0, 0},
    id: :bg,
    fill: @theme.surface
%>

<%= primitive Scenic.Primitive.Text,
    @data,
    translate: {5, @height / 2 + 5},
    id: :txt_tooltip,
    fill: @theme.text
%>