<%= graph font_size: 20 %>

<%= component Scenic.Primitive.Rectangle,
    {@width, @height},
    id: :bg,
    input: [:cursor_button, :cursor_pos],
    fill: if(@selected, do: @theme.focus, else: @theme.surface)
%>

<%= component Scenic.Primitive.Text,
    @label,
    id: :text,
    fill: if(@selected, do: @theme.active_text, else: @theme.text),
    translate: {15, 30}
%>