<%= graph font_size: 20 %>

<%= layout width: @width, height: @max_height, translate: {0, 5} do %>
    <%= for {_, key} = item <- @items do %>
        <%= component FloUI.Dropdown.Item,
            item,
            id: key,
            selected: @selected == key,
            width: @width,
            height: 50 
        %>
    <% end %>
<% end %>