<%= graph font_size: 20 %>

<%= component FloUI.SelectionList,
    @selection_list,
    id: :selection_list,
    translate: {20, 300},
    width: 200
%>

<%= component FloUI.Dropdown,
    @dropdown_opts,
    id: :scroll_dropdown,
    theme: FloUI.Theme.preset(:base),
    scroll_bar_theme: FloUI.Theme.preset(:scrollbar)
%>