<%= graph font_size: 20 %>

<%= component FloUI.SelectionList,
    @selection_list,
    id: :selection_list,
    translate: {20, 300},
    width: 200
%>

<%= component FloUI.Dropdown,
    @dropdown_opts,
    id: :scroll_dropdown,
    translate: {5, 0},
    scroll_bar: %{
        show_buttons: false,
        radius: 30,
        thickness: 5
    }
%>