<%= graph font_size: 20 %>

<%= primitive Scenic.Primitive.Rectangle,
    {@width, @height},
    id: :bg,
    fill: if(@selected or @hovered, do: @theme.thumb, else: @theme.surface),
    input: [:cursor_pos, :cursor_button]
%>

<%= primitive Scenic.Primitive.Text,
    @label,
    translate: {5, 30},
    fill: @theme.text
%>