<%= graph font_size: 20 %>

<%= primitive Scenic.Primitive.Rectangle,
    {@width, 40},
    id: :bg,
    fill: if(@selected? or @hovered?, do: @theme.surface_primary, else: @theme.surface),
    input: [:cursor_button, :cursor_pos]
%>

<%= primitive Scenic.Primitive.Text,
    @label,
    id: :text,
    translate: {5, 25},
    fill: if @selected? or @hovered?, do: @theme.active_text, else: @theme.text
%>