<%= graph font_size: 20 %>

<%= primitive Scenic.Primitive.Rectangle,
    {FontMetricsHelper.get_text_width(@label, 20) + 10, 40},
    id: :bg,
    fill: if(@selected? or @hovered?, do: :steel_blue, else: :gainsboro),
    input: [:cursor_button, :cursor_pos]
%>

<%= primitive Scenic.Primitive.Text,
    @label,
    id: :text,
    translate: {5, 25},
    fill: if @selected? or @hovered?, do: :white, else: :black
%>