<%= graph font_size: 20 %>

<%= primitive Scenic.Primitive.Circle,
    15, 
    id: :bg,
    translate: {23, 23} 
%>

<%= @children %>

<%= primitive Scenic.Primitive.Rectangle, {48, 48}, id: :btn, input: :cursor_button %>

<%= component FloUI.Tooltip, 
    @label,
    id: :tooltip,
    translate: {10, 50},
    hidden: !@showing_tooltip
%>